node_modules
**/node_modules
.git
.github
.tmp
logs
**/*.log
**/*.sqlite
backend/dist
frontend/build
coverage
**/.env
!/.env.example
Docs
docs
*.md
.vscode
.agent
.cursor
**/__tests__
**/*.test.ts
**/*.test.tsx